@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root{
    --primary-color: #10B981;
    --secondary-color: #D1FAE5;
}

body{
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
}

.navigation{
    background-color: var(--primary-color);
    padding: 1rem;
}
.navigation .nav-pills{
    text-align: right; 
}
.navigation .nav-brand{
    padding-top: 1rem;
    font-weight: bold;
    font-size: 2rem;
}
.navigation .link{
    color: black;
}
.navigation .link-active{
    font-size: large;
    font-weight: bold;
}

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.link{
    text-decoration: none;
    padding: 1rem;
    color: black;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 0rem;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}
.section h1{
    text-align: center;
}
.section{
    padding: 2rem;
}
.ow{
    background-color: var(--secondary-color);
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
}

.img{
    padding: 1rem;
    text-align: center;
    justify-content: center;
}


#txt-input{
    padding: 1rem;
    /* margin-top: 2rem; */
    height: 120px;
    width: 70%;
    resize: none;
    font-family: inherit;
    font-size: large;
    border: 1.5px solid  #10B981;
    border-radius: 0.5rem;
}

.btn-translate{
    padding: 0.5rem;
    margin: 1rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: large;
}

.txt{
    margin: 1px;
    padding: 1px;
}

.output{
    font: inherit;
    box-sizing: border-box;
    height: 100px;
    width: 70%;
    margin: 0.5rem;
    border: 2px solid  #10B981;
    border-radius: 0.5rem;
    overflow: scroll;
}
